force-app/main/default/flows/ApprovalTrace.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>getApprovalHistory</name>
        <label>Get Approval History</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>InvocableMethod_GetApprovalHistory</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>getApprovalWorkItemsForTable</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordIds</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>InvocableMethod_GetApprovalHistory</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>dtoApprovalWorkItems</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <description>Shows the Approval History</description>
    <environments>Default</environments>
    <interviewLabel>ApprovalTrace {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Approval Trace</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>ApprovalTraceScreen</name>
        <label>Approval Trace Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ApprovalHistory</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ApprovalWorkItem</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Approval History</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>getApprovalWorkItemsForTable</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;ApprovalConditionName&quot;,&quot;guid&quot;:&quot;column-d7b0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Approval Step&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Approval Condition Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Status&quot;,&quot;guid&quot;:&quot;column-9008&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;CreatedDate&quot;,&quot;guid&quot;:&quot;column-20a9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Created Date&quot;,&quot;type&quot;:&quot;customDateTime&quot;},{&quot;apiName&quot;:&quot;AssignedToName__c&quot;,&quot;guid&quot;:&quot;column-1eb4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Assigned To&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;ReviewedByName__c&quot;,&quot;guid&quot;:&quot;column-2b9c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Reviewed By&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;ReviewedDate&quot;,&quot;guid&quot;:&quot;column-a4c9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Reviewed Date&quot;,&quot;type&quot;:&quot;customDateTime&quot;},{&quot;apiName&quot;:&quot;Comments&quot;,&quot;guid&quot;:&quot;column-c7e3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;label&quot;:&quot;Comments&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getApprovalHistory</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <description>Transforms the Apex-Defined Collection to the Record Collection supported in the Data Table.
Will be removed when Apex-Defined Collections become available in the Data Table</description>
        <name>getApprovalWorkItemsForTable</name>
        <label>Get Approval Work Items for the Table</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ApprovalTraceScreen</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>ApprovalWorkItem</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>AssignedToName__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>dtoApprovalWorkItems[$EachItem].assignedToName</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Comments</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>dtoApprovalWorkItems[$EachItem].comments</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>CreatedDate</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>dtoApprovalWorkItems[$EachItem].createdDate</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Id</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>dtoApprovalWorkItems[$EachItem].itemId</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>ReviewedByName__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>dtoApprovalWorkItems[$EachItem].reviewedByName</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>ReviewedDate</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>dtoApprovalWorkItems[$EachItem].reviewedDate</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Status</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>dtoApprovalWorkItems[$EachItem].status</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>ApprovalConditionName</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>dtoApprovalWorkItems[$EachItem].approvalConditionName</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>ApprovalSubmissionId</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>dtoApprovalWorkItems[$EachItem].approvalSubmissionId</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>AssignedToId</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>dtoApprovalWorkItems[$EachItem].assignedToId</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>CreatedById</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>dtoApprovalWorkItems[$EachItem].createdById</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>FlowOrchestrationWorkItemId</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>dtoApprovalWorkItems[$EachItem].flowOrchestrationWorkItemId</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Name</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>dtoApprovalWorkItems[$EachItem].itemName</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>RelatedRecordId</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>dtoApprovalWorkItems[$EachItem].relatedRecordId</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>RelatedRecordObjectName</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>dtoApprovalWorkItems[$EachItem].relatedRecordObjectName</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>ReviewedById</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>dtoApprovalWorkItems[$EachItem].reviewedById</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>dtoApprovalWorkItems</name>
        <apexClass>DTO_ApprovalWorkItem</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
